form {
    
}

label {
    font-family: inherit;
    font-size: 100%;
}

input, textarea {
    
}

ul {
    
}

.wrapper {
    background-color: green;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}